body{
    font-family:'Times New Roman', Times, serif;
    width: 90%;
    margin: auto;
    color: black;
    background-color: rgba(228, 245, 135, 0.247);         
}
.menu-main{
    list-style: none;
    margin: 20px 0 5px;
    padding: 25px 0 5px;
    text-align: center;
    background: rgb(137, 145, 105);
}
.menu-main li{
    display: inline-block;
}
.menu-main li:after{
    content: "|";
    color: #606060;
    display: inline-block;
    vertical-align: top;
}
.menu-main li:last-child:after{
    content: none;
}
.menu-main a{
    text-decoration: none;
    font-family: "Ubuntu Condensed", sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 10px;
    margin: 0 10px 0 10px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}
.menu-main a, .menu-main a:visited{
    color: #9d999d;
}
.menu-main a.current, .menu-main a:hover{
    color: #feb386;
}
.menu-main a:before,
.menu-main a:after{
    content: "";
    position: absolute;
    height: 2%;
    top: 20px;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #feb386;
    transition: .8s;
}
.menu-main a:hover:before,.menu-main .current{
    left: 0;
}
.menu-main a:hover:after, .menu-main .current:after{
    right: 0;
}

h1{
    text-align: center;
    font-size: 30px;
}
h2{
    text-align: center;
    font-size: 25px;
    color: #4313ee;
}
.red_string{
    text-indent: 20px;
}
caption{
    text-align: center;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    color: #4313ee;
    padding: 0 0 10px 0;
}
.name_desc {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.table_dark{
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 14px;
    width: 640px;
    text-align: left;
    border-collapse: collapse;
    background: #252F48;
    margin: 10px;
}
.table_dark th{
    color: #CAD4D6;
    border-bottom: 1px solid #37B5A5;
    border-right: 1px solid #37B5A5;
    padding: 7px 17px;
}
.table_dark td{
    color: #CAD4D6;
    border-bottom: 1px solid #37B5A5;
    border-right: 1px solid #37B5A5;
    padding: 7px 17px;
}
.table_dark tr:last-child td{
    border-bottom: none;
}
.table_dark td:last-child{
    border-right: none;
}
.table_dark tr:hover td{
    text-decoration: underline;
}
blockquote{
    width: 500px;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 4px 6px black;
    padding: 10px;
    margin: 10px 0;
    background: #a7c01a8f;
}
.bold_phrase{
    font-weight: bold;
}
.footer_quote {
    margin-top: 10px;
    text-align: right;
    font-style: normal;
    font-weight: bold;
}
h3{
    text-align: center;
    font-size: 20px;
    color: #070707;
    margin-bottom: 10px;
}
iframe { 
    border: 3px solid #4313ee;
    width: 500px;
    height: 300px;
    margin: 20px 355px;
}
.tel_num{
    font-weight: bold;
    font-size: 15px;
    color: #050505;
    margin-bottom: 10px;
    margin: 20px 490px;
    text-decoration: none;
}

.footer_detail{
    text-align: center;
    font-size: 15px;
    color: #050505;
    margin-top: 10px;
}